*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.mainContainer{
    max-width: 1270px;
    margin: 0 auto;

}


.nar-bar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    opacity: 0.9;
    position: sticky;
    top: 0;
    border-bottom: 0.5px solid rgba(20, 6, 6, 0.107);
    padding: 0px 130px;
}

.nar-bar a{
    color: inherit;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.34;
}
.nar-bar a:hover{
    border-bottom: 3px solid blue;
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.mobileMenuContainer{
    display: none;
    font-size: 30px;
}
.container{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.left{
    display: inline-block;
    width: 50%;
    height: auto;
}
.left h1{
    font-size: 80px;
}
.left .zz{
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 30px;
    margin-top: 20px;
    width: 500px;
}
.app{
    display: block;
    margin: 10px 0px;
    border: none;
    background-color: rgb(0 0 0 / 4%);
    padding: 13px 16px;
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: #0a7cff;
    color: rgb(0 0 0);
    width: 300px;
}
.aa{
    display: block;
}
.aa span{
    text-decoration: underline;
    color: #0a7cff;
    font-weight: bold;
    cursor: pointer;
}
button{
    display: inline;
    background-color: #0a7cff;
    border: none;
    padding: 12px 19px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    color: whitesmoke;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(4, 109, 229)
}
.check{
    border: none;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
}

.ii{
    display: block;
    margin-top: 30px;
    cursor: pointer;
}
.left img{
    width: 120px;
    height: 40px;
}
.two{
    border-radius: 8px;
}
.right{
    display: inline-block;
    width: 50%;
}
.right img{
    width: 100%;
    height: 600px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    margin-top: 50px;
}
.bottom-right{
    display: flex;
    margin-right: 50px;
}
.bottom-right a{
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
}
.gg{
    margin-top: -17px;
}
.gg img{
    width: 140px;
    height: 50px;
}
@media (max-width:747px) {
    .menu{
        display: none;
    }
    .mobileMenuContainer{
        display: block;
    }
    .mobileMenuContainer img{
        width: 50px;
        height: 50px;
    }
    .nar-bar{
        padding: 30px 30px;
        margin-bottom: 50px;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 60px;
    }
    .left{
        width: 100%;
        margin: 0 auto;
        margin-left: 20px;
    }
    .left h1{
        font-size: 50px;
    }
    .left .zz{
        margin-top: 20px;
        margin-bottom: 50px;
        
    }
    .app{
        width: 430px;
    }
    .right {
        width: 100%;
        margin-top: 30px;
    }
    .right img{
        margin: 0 auto;
    }
    .footer{
        flex-direction: column;
        width: 100%;
        /* background-color: #0a7cff; */
    }
    .text{
        text-align: center;
        padding: 0px 30px;
        font-size: 15px;
    }
    .bottom-right{
        margin: 0 auto;
        margin-top: 20px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        
    }
    .gg{
        margin-top: 5px;
    }
    .gg img{
        width: 120px;
        height: 40px;
    }
    
}